<form name="addBillForm" class="form-inline">
  <div class="input-group">
  <input type="number" placeholder="Add new billnote" ng-model="note" class="form-control" required>
  <span class="input-group-btn">
    <button class="btn btn-primary" ng-click="addBill()">add</button>
  </span>
  </div>
</form>

<div class="panel panel-primary">
  <div class="panel-heading">Grand Total</div>
  <div class="panel-body">
    {{total}}
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="bill in bills">
    {{bill.note}} -- {{bill.created}}
  </li>
</ul>
