<div class="row">
  <form name="addBillForm" class="col-md-9 form-inline">
    <div class="input-group">
    <span class="input-group-addon">
      <label>
        <input type="checkbox" ng-model="isSpent"> isSpent
      </label>
    </span>
    <input type="number" placeholder="Add new billnote" ng-model="note" class="form-control" required>
    <span class="input-group-btn">
      <button class="btn btn-primary" ng-click="addBill()">add</button>
    </span>
    </div>
  </form>
  <div class="col-md-3">
  <select class="form-control" ng-model="currentCurrency" ng-options="currency.name for currency in currencies"></select><br>
  </div>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">Grand Total: <i class="fa fa-{{currentCurrency.name}}"></i>{{total}}</div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="bill in bills">
        {{bill.note}} -- {{bill.created | date: 'yyyy-MM-dd HH:mm'}}
      </li>
    </ul>
</div>

